.root {
    -fx-fill: white;
}

.alive-cell-1 {
    -fx-background-color: #00ff00;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}

.alive-cell-2 {
    -fx-background-color: #00dd00;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}

.alive-cell-3 {
    -fx-background-color: #00cc00;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}

.alive-cell-4 {
    -fx-background-color: #00bb00;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}

.alive-cell-5 {
    -fx-background-color: #00aa00;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}

.alive-cell-6 {
    -fx-background-color: #009900;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}

.alive-cell-7 {
    -fx-background-color: #008800;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}

.alive-cell-8 {
    -fx-background-color: #007700;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}

.alive-cell-9 {
    -fx-background-color: #006600;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}

.alive-cell-10 {
    -fx-background-color: #005500;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}

.alive-cell-color-1 {
    -fx-background-color: green;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}

.alive-cell-color-2 {
    -fx-background-color: red;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}

.alive-cell-color-3 {
    -fx-background-color: blue;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}

.alive-cell-color-4 {
    -fx-background-color: deepskyblue;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}

.alive-cell-color-5 {
    -fx-background-color: orange;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}

.alive-cell-color-6 {
    -fx-background-color: deeppink;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}

.alive-cell-color-7 {
    -fx-background-color: gray;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}

.alive-cell-color-8 {
    -fx-background-color: gold;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}

.alive-cell-color-9 {
    -fx-background-color: yellow;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}

.alive-cell-color-10 {
    -fx-background-color: lawngreen;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}

.dead-cell {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 0.1;
}